extends ../components/base/layout

block variables
  - const title = "MakeMeLook" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main.wrapper
    section#section1.wrapper__panel
      +hero()
    section#section2.wrapper__panel.aaa
      +clothes-item-show()
    section#section3.wrapper__panel.orange
      +app-features()
    section#section4.wrapper__panel.purple
      +who-for()
    section#section5.wrapper__panel.red
      +advantages()
    section#section6.wrapper__panel.orange
      +al-assistant()
    section#section7.wrapper__panel.purple
      +intro()

block modals
