extends ../components/base/layout

block variables
  - const title = "MakeMeLook" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main.wrapper
    section#section-1.wrapper__panel.blue.hero
      p.hero__subtitle Твой личный ИИ-стилист. Почувствуй себя звездой
      h1.hero__title Создавай&nbsp;и&nbsp;примеряй идеальные&nbsp;образы за&nbsp;несколько&nbsp;секунд
      //- +intro()
      +img("content", "hero", "png", 1676, 806, "модели и предметы одежды")
    section#section-2.wrapper__panel.red
      p aaaaaaaaaa
      //- +intro()
      +img("content", "hero", "png", 1676, 806, "модели и предметы одежды")
    section#section-3.wrapper__panel.orange
      p aaaaaaaaaa
      //- +intro()
      +img("content", "hero", "png", 1676, 806, "модели и предметы одежды")
    section#section-4.wrapper__panel.purple
      +intro()


block modals
