mixin advantages()
  .advantages
    .advantages__check-wrapper
      .advantages__head
        p.advantages__slogan Стань неотразимой с личным стилистом в кармане
        p.advantages__title Оцени все преимущества приложения прямо сейчас:
      .advantages__ckeck-container
        .advantages__ckeck-head
          p.advantages__ckeck-head-style Стилист
          p.advantages__ckeck-head-al-style Al-стилист
        .advantages__ckeck-body
          .advantages__ckeck-body-style
            p.advantages__ckeck-body-item
              +icon("info-minus", 38, 38)
              span Высокая стоимость, почасовая оплата
            p.advantages__ckeck-body-item
              +icon("info-minus", 38, 38)
              span Долгое ожидание, высокая загруженность
            p.advantages__ckeck-body-item
              +icon("info-minus", 38, 38)
              span Устаревшее видение, недопонимание
            p.advantages__ckeck-body-item
              +icon("info-minus", 38, 38)
              span Географическое ограничение
          .advantages__ckeck-body-al-style
            p.advantages__ckeck-body-item
              +icon("info-check", 38, 38)
              span Бесплатно. Плати только за Premium возможности
            p.advantages__ckeck-body-item
              +icon("info-check", 38, 38)
              span Моментальные ответы круглосуточно, без выходных
            p.advantages__ckeck-body-item
              +icon("info-check", 38, 38)
              span Беспрерывно обучается и следит за трендами
            p.advantages__ckeck-body-item
              +icon("info-check", 38, 38)
              span Никаких ограничений
    .advantages__images
