mixin al-assistant()
  .al-assistant
    .al-assistant__features
      .al-assistant__head
        .al-assistant__slogan Больше, чем приложение
        .al-assistant__title MakeMeLook.ai не просто приложение, а твой личный ИИ&nbsp;-&nbsp;помощник
      .al-assistant__features-container
        .al-assistant__features-item
          .al-assistant__features-item-icons
            +icon("stars-assistant", 29, 14).al-assistant__features-background
            +icon("sun", 64, 64).al-assistant__features-icon
          p.al-assistant__features-item-text Посмотрит на погоду и предложит подходящий образ
        .al-assistant__features-item
          .al-assistant__features-item-icons
            +icon("stars-assistant", 29, 14).al-assistant__features-background
            +icon("clothes", 64, 64).al-assistant__features-icon
          p.al-assistant__features-item-text Найдет нужную тебе вещь или аксессуар
        .al-assistant__features-item
          .al-assistant__features-item-icons
            +icon("stars-assistant", 29, 14).al-assistant__features-background
            +icon("style", 64, 64).al-assistant__features-icon
          p.al-assistant__features-item-text Поможет найти свой стиль и стать увереннее
        .al-assistant__features-item
          .al-assistant__features-item-icons
            +icon("stars-assistant", 29, 14).al-assistant__features-background
            +icon("time", 64, 64).al-assistant__features-icon
          p.al-assistant__features-item-text Сэкономит до 10 часов в неделю
    .al-assistant__viewer
