mixin al-assistant()
  .al-assistant
    .al-assistant__features
      .al-assistant__head
        .al-assistant__slogan Больше, чем приложение
        .al-assistant__title MakeMeLook.ai не просто приложение, а твой личный ИИ&nbsp;-&nbsp;помощник
      .al-assistant__features-container
        .al-assistant__features-item
          .al-assistant__features-item-icons
            +icon("stars-assistant", 29, 14).al-assistant__features-background
            +icon("sun", 64, 64).al-assistant__features-icon
          p.al-assistant__features-item-text Посмотрит на погоду и предложит подходящий образ
        .al-assistant__features-item
          .al-assistant__features-item-icons
            +icon("stars-assistant", 29, 14).al-assistant__features-background
            +icon("clothes", 64, 64).al-assistant__features-icon
          p.al-assistant__features-item-text Найдет нужную тебе вещь или аксессуар
        .al-assistant__features-item
          .al-assistant__features-item-icons
            +icon("stars-assistant", 29, 14).al-assistant__features-background
            +icon("style", 64, 64).al-assistant__features-icon
          p.al-assistant__features-item-text Поможет найти свой стиль и стать увереннее
        .al-assistant__features-item
          .al-assistant__features-item-icons
            +icon("stars-assistant", 29, 14).al-assistant__features-background
            +icon("time", 64, 64).al-assistant__features-icon
          p.al-assistant__features-item-text Сэкономит до 10 часов в неделю
    .al-assistant__viewer
      p.al-assistant__viewer-title Примеряй свои образы одним касанием
      .al-assistant__viewer-picture-container
        .al-assistant__viewer-stars
          img(src="./img/svg/stars-al-assistan.svg", width="476", height="469", alt="звезды", loading="lazy")
        .al-assistant__viewer-ellipse
          img(src="./img/svg/ellipse.svg", width="626", height="137", alt="тень от модели", loading="lazy")
        .al-assistant__model.al-assistant__model--02
          +picture("content/al-assistant", "model-02", "png", 272, 779, "фото модели", true)
        .al-assistant__model.al-assistant__model--01.is-active
          +picture("content/al-assistant", "model-01", "png", 272, 779, "фото модели", true)
        .al-assistant__model.al-assistant__model--03
          +picture("content/al-assistant", "model-03", "png", 272, 779, "фото модели", true)
        .al-assistant__model.al-assistant__model--04
          +picture("content/al-assistant", "model-04", "png", 272, 779, "фото модели", true)
      .al-assistant__viewer-controls-container
        p.al-assistant__viewer-title-landscape Примеряй свои образы одним касанием
        .al-assistant__viewer-radio-container
          label(tabindex=0)
            input(type="radio", tabindex="-1", name="choose-look", id="choose-1", value="1", data-radio-index="0").visually-hidden
            span
          label(tabindex=0)
            input(type="radio", tabindex="-1", name="choose-look", id="choose-0", value="0", data-radio-index="1").visually-hidden
            span
          label(tabindex=0)
            input(type="radio", tabindex="-1", name="choose-look", id="choose-2", value="2", data-radio-index="2").visually-hidden
            span
          label(tabindex=0)
            input(type="radio", tabindex="-1", name="choose-look", id="choose-3", value="3", data-radio-index="3").visually-hidden
            span
        .al-assistant__viewer-links-container
          img(src="./img/svg/link.svg", width="285", height="38", alt="линия связи", loading="lazy")
          img(src="./img/svg/link.svg", width="285", height="38", alt="линия связи", loading="lazy").is-active
          img(src="./img/svg/link.svg", width="285", height="38", alt="линия связи", loading="lazy")
          img(src="./img/svg/link.svg", width="285", height="38", alt="линия связи", loading="lazy")
        .al-assistant__viewer-buttons-container
          a(href="#" data-index=0).al-assistant__viewer-button.al-assistant__viewer-button--02
            +picture("content/al-assistant", "clothes-02", "png", 140, 140, "фото предмета одежды", true)
          a(href="#" data-index=1).al-assistant__viewer-button.al-assistant__viewer-button--01.is-active
            +picture("content/al-assistant", "clothes-01", "png", 140, 140, "фото предмета одежды", true)
          a(href="#" data-index=2).al-assistant__viewer-button.al-assistant__viewer-button--03
            +picture("content/al-assistant", "clothes-03", "png", 140, 140, "фото предмета одежды", true)
          a(href="#" data-index=3).al-assistant__viewer-button.al-assistant__viewer-button--04
            +picture("content/al-assistant", "clothes-04", "png", 140, 140, "фото предмета одежды", true)
