mixin contacts()
  -
    const socialLinks = [
      {
        href: "#",
        src: "./img/svg/telegramm2.svg",
        text: "telegramm"
      },
      {
        href: "#",
        src: "./img/svg/facebook2.svg",
        text: "facebook"
      },
      {
        href: "#",
        src: "./img/svg/twitter2.svg",
        text: "twitter"
      },
      {
        href: "#",
        src: "./img/svg/instagramm2.svg",
        text: "instagramm"
      },
    ]

  .contacts
    .contacts__wrapper
      p.contacts__title Хочешь стать частью команды или есть предложение для сотрудничества?
      .contacts__tel
        p.contacts__name Телефон
        p.contacts__value +7 995 923 67 20
      .contacts__mail
        p.contacts__name Электронная почта
        p.contacts__value hello@makemelook.ru
      .contacts__social
        p.contacts__name Следите за нами в социальных сетях
        ul.contacts__social-list
          each link in socialLinks
              li
                a(href=link.href)
                  img(src=link.src, width="50", height="50", alt="", loading="lazy")
                  span.visually-hidden=link.text
    .contacts__star-image
      img(src="./img/svg/star-footer.svg", width="980", height="548", alt="звезды", loading="lazy")
    .contacts__image
      +picture("content/footer", "model", "png", 604, 932, "фото модель", true)
