mixin hero()
      .hero
        .hero__sublayer
        .container
          p.hero__subtitle Твой личный ИИ-стилист. Почувствуй себя звездой
          h1.hero__title Создавай&nbsp;и&nbsp;примеряй идеальные&nbsp;образы за&nbsp;несколько&nbsp;секунд
          a(href="#").hero__button
            svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M19.1426 12.7412C19.1149 9.71436 21.6618 8.24181 21.7782 8.17325C20.3358 6.10435 18.1002 5.82167 17.3146 5.79913C15.4369 5.60473 13.6155 6.90449 12.659 6.90449C11.6834 6.90449 10.2105 5.81791 8.62303 5.84984C6.58021 5.88083 4.66912 7.04442 3.62098 8.8513C1.45788 12.5355 3.07114 17.9496 5.14355 20.9276C6.18023 22.386 7.39161 24.0145 8.97718 23.9572C10.5284 23.8943 11.1078 22.9843 12.9798 22.9843C14.8345 22.9843 15.3787 23.9572 16.9957 23.9206C18.6605 23.8943 19.7087 22.4555 20.7091 20.9839C21.9071 19.3123 22.3882 17.666 22.4073 17.5815C22.3682 17.5683 19.1741 16.369 19.1426 12.7412Z" fill="white")
              path(d="M16.0879 3.8401C16.9222 2.81363 17.4931 1.41715 17.3346 0C16.1271 0.0525913 14.6169 0.821739 13.7473 1.82567C12.9779 2.71033 12.2906 4.16035 12.4681 5.52396C13.8246 5.62351 15.2173 4.85061 16.0879 3.8401Z" fill="white")
            span Скачать приложение
          .hero__images
            .hero__model-1
              +picture("content/hero", "model-01", "png", 358, 607, "модель, демострирует одежду", false)
            .hero__model-2
              +picture("content/hero", "model-02", "png", 429, 647, "модель, демострирует одежду", false)
            .hero__model-3
              +picture("content/hero", "model-03", "png", 646, 670, "модель, демострирует одежду", false)
            .hero__model-7
              +picture("content/hero", "model-07", "png", 278, 627, "модель, демострирует одежду", false)
            .hero__model-6
              +picture("content/hero", "model-06", "png", 589, 637, "модель, демострирует одежду", false)
            .hero__model-5
              +picture("content/hero", "model-05", "png", 415, 642, "модель, демострирует одежду", false)
            .hero__model-4
              +picture("content/hero", "model-04", "png", 877, 806, "модель, демострирует одежду", false)

