mixin hero()
      .hero
        .hero__sublayer
        .container
          p.hero__subtitle Твой личный ИИ-стилист. Почувствуй себя звездой
          h1.hero__title Создавай&nbsp;и&nbsp;примеряй идеальные&nbsp;образы за&nbsp;несколько&nbsp;секунд
          button(type="button").hero__button ffjsfjkgsjdkf
          .hero__images
            .hero__model-1
              +picture("content", "model-01", "png", 358, 607, "модель, демострирует одежду", false)
            .hero__model-2
              +picture("content", "model-02", "png", 429, 647, "модель, демострирует одежду", false)
            .hero__model-3
              +picture("content", "model-03", "png", 646, 670, "модель, демострирует одежду", false)
            .hero__model-7
              +picture("content", "model-07", "png", 278, 627, "модель, демострирует одежду", false)
            .hero__model-6
              +picture("content", "model-06", "png", 589, 637, "модель, демострирует одежду", false)
            .hero__model-5
              +picture("content", "model-05", "png", 415, 642, "модель, демострирует одежду", false)
            .hero__model-4
              +picture("content", "model-04", "png", 877, 806, "модель, демострирует одежду", false)
