mixin who-for()
  .who-for&attributes(attributes)
    .who-for__view
      .who-for__view-screens-container
        .who-for__person-cards
          each item in personCards
            +person-card(item)
        .who-for__view-ipone
          +picture("content/screens", "screen-03", "png", 590, 850, "mockup iphone", true)
        .who-for__view-screen-landscape
          +picture("content/screens", "screen-01", "png", 537, 828, "mockup screen", true)
        .who-for__view-screen-portrait
          +picture("content/screens", "screen-04", "png", 367, 418, "mockup screen", true)
        .who-for__view-screen-portrait-piece-card
          +picture("content/screens", "card", "png", 57, 183, "mockup screen", true)
    .who-for__features
      .who-for__features-head
        .who-for__features-slogan Забудь о бесконечных примерках и стрессе
        .who-for__features-title MakeMeLook.ai создан для тебя, если:
      .who-for__features-container
        +icon("puls", 96, 96).who-for__features-puls
        +icon("circle-1", 426, 426).who-for__circle-1
        +icon("circle-2", 713, 713).who-for__circle-2
        .who-for__features-wrap
          p.who-for-features-item Тратишь много времени на примерку
            +icon("stars-features", 30, 30)
          p.who-for-features-item Сложно выбрать в чем пойти сегодня
            +icon("stars-features", 30, 30)
          p.who-for-features-item.who-for-features-item--right “Мне нечего надеть”
            +icon("stars-features", 30, 30)
          p.who-for-features-item Не знаешь где искать и покупать то, что тебе нравится
            +icon("stars-features", 30, 30)
          p.who-for-features-item.who-for-features-item--right Проще носить несколько любимых образов
            +icon("stars-features", 30, 30)
          p.who-for-features-item.who-for-features-item--right Хочешь избавиться от старых вещей
            +icon("stars-features", 30, 30)
          p.who-for-features-item Нервничаешь, когда комбинируешь вещи между собой
            +icon("stars-features", 30, 30)



