.advantages {
  display: flex;
  height: 100%;

  transform: translateX(#{size(-180px)});

  @include portrait {
    flex-direction: column;
    height: auto;
    margin-bottom: calc(60px / 375px * 100vw);

    transform: none;
  }

  &__check-wrapper {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;

    background-color: rgba(coral, 0.3);

    @include portrait {
      display: flex;
      flex-direction: column;

      width: 100%;

      margin: 0;
      margin-bottom: calc(40px / 375px * 100vw);
    }
  }

  &__head {
    width: size(650px);
    margin-bottom: size(80px);

    @include portrait {
      width: 100%;
      margin-bottom: calc(40px / 375px * 100vw);
    }
  }

  &__slogan {
    margin: 0;
    margin-bottom: size(12px);

    font-size: size(22px);
    line-height: size(26px);
    letter-spacing: -0.01em;
    color: #7B7B7B;

    @include portrait {
      margin-bottom: calc(5px / 375px * 100vw);

      font-size: calc(14px / 375px * 100vw);
      line-height: calc(17px / 375px * 100vw);
      text-align: center;
    }
  }

  &__title {
    margin: 0;

    font-family: $ff-g-ui-medium;
    font-size: size(48px);
    line-height: 115%;
    color: #000000;

    @include portrait {
      font-size: size(24px);
      line-height: 105%;
      text-align: center;
    }
  }

  &__ckeck-container {
    width: size(650px);
    padding: size(30px);
    border-radius: size(40px);

    background: #FFFFFF;
    box-shadow: 0px size(10px) size(40px) rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(#{size(7.5px)});

    @include portrait {
      width: calc(350px / 375px * 100vw);
      margin: 0 auto;
      padding: calc(16px / 375px * 100vw);
      border-radius: calc(20px / 375px * 100vw);

      box-shadow: 0px calc(5px / 375px * 100vw) calc(20px / 375px * 100vw) rgba(0, 0, 0, 0.08);
      backdrop-filter: blur(#{size(4px)});
    }
  }

  &__ckeck-head {
    display: flex;
    gap: size(24px);

    margin-bottom: size(30px);
    padding: size(20px);
    border-radius: size(20px);

    font-size: size(28px);
    line-height: size(34px);
    letter-spacing: -0.01em;
    color: #ffffff;

    background-color: #000000;

    @include portrait {
      gap: calc(12px / 375px * 100vw);

      margin-bottom: calc(16px / 375px * 100vw);
      padding: calc(10px / 375px * 100vw);
      border-radius: calc(10px / 375px * 100vw);

      font-size: calc(16px / 375px * 100vw);
      line-height: calc(19px / 375px * 100vw);
    }

    p {
      width: calc((100% - #{size(24px)}) / 2);
      margin: 0;

      @include portrait {
        width: calc((100% - calc(12px / 375px * 100vw)) / 2);
      }
    }
  }

  &__ckeck-head-style {
    color: #6F6F6F;
  }

  &__ckeck-body {
    display: flex;
    gap: size(24px);

    @include portrait {
      gap: calc(12px / 375px * 100vw);
    }
  }

  &__ckeck-body-item {
    display: flex;
    align-items: center;
    gap: size(12px);

    margin: 0;

    font-size: size(16px);
    line-height: size(19px);
    letter-spacing: -0.01em;

    @include portrait {
      gap: calc(6px / 375px * 100vw);

      font-size: calc(14px / 375px * 100vw);
      line-height: calc(17px / 375px * 100vw);
    }

    svg {
      flex-shrink: 0;

      width: size(38px);
      height: size(38px);

      @include portrait {
        width: calc(19px / 375px * 100vw);
        height: calc(19px / 375px * 100vw);
      }
    }
  }

  &__ckeck-body-style {
    display: flex;
    flex-direction: column;
    gap: size(15px);

    width: calc((100% - #{size(24px)}) / 2);

    .advantages__ckeck-body-item {
      color: rgba(#000000, 0.6);
    }

    @include portrait {
      gap: calc(8px / 375px * 100vw);

      width: calc((100% - calc(12px / 375px * 100vw)) / 2);
    }
  }

  &__ckeck-body-al-style {
    display: flex;
    flex-direction: column;
    gap: size(15px);

    width: calc((100% - #{size(15px)}) / 2);

    @include portrait {
      gap: calc(8px / 375px * 100vw);

      width: calc((100% - calc(12px / 375px * 100vw)) / 2);
    }
  }


  &__images {
    width: 50%;

    overflow-y: hidden;

    background-color: rgba(yellowgreen, 0.3);

    @include portrait {
      position: relative;

      width: 100%;

      aspect-ratio: 375 / 581;

      overflow: hidden;
    }
  }

  &__picture {
    position: relative;

    //transform: translateY(200px);

    aspect-ratio: 827 / 1158;
    height: size(1158px);

    @include portrait {
      aspect-ratio: 528 / 719;
      //height: calc(719px / 375px * 100vw);
      height: calc(700px / 375px * 100vw);

      transform: translate(#{size(-25px)}, #{size(-11px)});
    }

    img {
      position: relative;
      z-index: 2;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__circle {
    position: absolute;
    top: size(97px);
    left: size(7px);

    width: size(673px);
    height: size(673px);
    border-radius: 50%;

    background: #D9D9D9;
    opacity: 0.3;
    box-shadow: inset 0px size(-2px) size(2px) rgba(0, 0, 0, 0.15), inset 0px size(-10px) size(15px) rgba(0, 0, 0, 0.25);

    @include portrait {
      display: none;
    }
  }

  &__blur {
    display: none;

    position: absolute;
    top: calc(164px / 375px * 100vw);
    left: 0;
    z-index: 3;

    aspect-ratio: 373 / 457;
    height: calc(457px / 375px * 100vw);

    background-image: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, rgba(242, 242, 242, 0) 34.55%, #F2F2F2 91.15%);
    transform: rotate(-9.12deg);

    @include portrait {
      display: block;
    }
  }
}
