.header {
  /*
  padding: 28px 0;

  background-color: $color-neon-blue;

  .container {
    display: flex;
  }

  &__logo {
    color: $color-default-white;
  }
  */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;

  width: 100%;
  height: size(116px);

  background-color: $color-neon-blue;
}
