.hero {
  position: relative;
  height: 100%;

  padding-top: size(63px);
  /*
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: size(63px);
  height: 100%;

  @include portrait {
    //height: calc(100dvh - 72px);
    height: 100dvh;
    padding-top: 72px;

    padding-bottom: 30px;
  }
  */
  @include portrait {

    height: 100dvh;
    padding-top: 72px;

    padding-bottom: 30px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    //padding-top: size(63px);
    height: 100%;

    @include portrait {
      position: relative;
      z-index: 2;

      height: calc(100dvh - 72px - 30px);
      //height: 100dvh;
      //padding-top: 72px;

      //padding-bottom: 30px;
    }
  }

  &__title {
    margin: 0;
    width: 72%;

    font-family: $ff-g-ui-medium;
    text-align: center;
    font-size: size(64px);
    font-weight: 500;
    line-height: 105%; /* 67.2px */
    letter-spacing: size(1.28px);

    @include portrait {
      width: 100%;
      margin-top: auto;
      margin-bottom: size(27px);

      font-size: size(32px);
      line-height: 110%;
      letter-spacing: 0.02em;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: size(14px);

    text-align: center;
    font-size: size(22px);
    line-height: normal;
    letter-spacing: size(-0.22px);

    @include portrait {
      width: 60%;
      font-size: size(15px);
      line-height: size(18px);
      letter-spacing: -0.01em;
    }
  }

  &__images {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: size(806px);

    @include portrait {
      display: none;
      //width: size(873px);
      //aspect-ratio: 873 / 585;
      //left: size(-275px);
    }

    & > * {
      position: absolute;
      bottom: 0;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover
    }
  }

  &__model-1 {
    height: size(607px);
    aspect-ratio: 358 / 607;

    left: 5.2%;
    transform: translateX(-20%);
  }

  &__model-2 {
    height: size(647px);
    aspect-ratio: 429 / 647;

    left: 22%;
    transform: translateX(-50%);
  }

  &__model-3 {
    height: size(670px);
    aspect-ratio: 646 / 670;

    left: 35%;
    transform: translateX(-50%);
  }

  &__model-4 {
    height: size(806px);
    aspect-ratio: 877 / 806;

    left: 50%;
    transform: translateX(-50%);
  }


  &__model-5 {
    height: size(642px);
    aspect-ratio: 418 / 642;

    left: 64%;
    transform: translateX(-50%);
  }

  &__model-6 {
    height: size(637px);
    aspect-ratio: 589 / 637;

    left: 76%;
    transform: translateX(-50%);
  }

  &__model-7 {
    height: size(627px);
    aspect-ratio: 278 / 627;

    left: 95%;
    transform: translateX(-100%);
  }

  &__button {
    display: none;

    @include portrait {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      min-height: size(52px);
      border-radius: size(12px);
      background-color: $color-default-black;
      padding: size(14px);
      border: none;
    }

  }

  &__sublayer {
    display: none;

    @include portrait {
      display: block;

      position: absolute;
      bottom: 0;

      width: 100%;
      height: 60%;
      background-color: rgba(red, 0.3);
      //background: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, #F2F2F2 49.42%);
    }
  }
}


