.hero {
  position: relative;
  height: 100%;

  padding-top: size(63px);

  @include portrait {

    height: 100dvh;
    padding-top: 72px;

    padding-bottom: 35px;
    overflow: hidden;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

    @include portrait {
      position: relative;

      height: calc(100dvh - 72px - 35px);
    }
  }

  &__title {
    margin: 0;
    width: 72%;

    font-family: $ff-g-ui-medium;
    text-align: center;
    font-size: size(64px);
    font-weight: 500;
    line-height: 105%;
    letter-spacing: size(1.28px);

    @include portrait {
      position: relative;
      z-index: 2;

      width: 100%;
      margin-top: auto;
      margin-bottom: calc(27px / 680px * 100dvh);

      font-size: calc(32px / 375px * 100vw);
      line-height: 110%;
      letter-spacing: 0.02em;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: size(14px);

    text-align: center;
    font-size: size(22px);
    line-height: normal;
    letter-spacing: size(-0.22px);

    @include portrait {
      width: 60%;
      max-width: calc(250px/ 680px * 100dvh);

      font-size: calc(15px / 375px * 100vw);
      line-height: 1.2;
      letter-spacing: -0.01em;
    }
  }

  &__images {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: size(806px);

    @include portrait {
      width: calc(873px/ 680px * 100dvh);
      height: calc(420px/ 680px * 100dvh);

      bottom: calc(155px/ 680px * 100dvh);
      z-index: -1;
    }

    & > * {
      position: absolute;
      bottom: 0;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover
    }
  }

  &__model-1 {
    height: size(607px);
    aspect-ratio: 358 / 607;

    left: 0;

    @include portrait {
      left: 5.2%;
      transform: translateX(-20%);

      width: calc(186px/ 680px * 100dvh);
      height: auto;
    }
  }

  &__model-2 {
    height: size(647px);
    aspect-ratio: 429 / 647;

    transform: translateX(-50%);
    left: 18%;

    @include portrait {
      left: 22%;
      transform: translateX(-50%);

      width: calc(223px/ 680px * 100dvh);
      height: auto;
    }
  }

  &__model-3 {
    height: size(670px);
    aspect-ratio: 646 / 670;

    transform: translateX(-50%);
    left: 30%;

    @include portrait {
      left: 37%;
      transform: translateX(-50%);

      width: calc(336px/ 680px * 100dvh);
      height: auto;
    }
  }

  &__model-4 {
    height: size(806px);
    aspect-ratio: 877 / 806;

    transform: translateX(-50%);
    left: 45.5%;

    @include portrait {
      left: 51.5%;
      transform: translateX(-50%);

      width: calc(456px/ 680px * 100dvh);
      height: auto;
    }
  }

  &__model-5 {
    height: size(642px);
    aspect-ratio: 418 / 642;

    transform: translateX(-50%);
    left: 58.5%;

    @include portrait {
      left: 64%;
      transform: translateX(-50%);

      width: calc(215px/ 680px * 100dvh);
      height: auto;
    }
  }

  &__model-6 {
    height: size(637px);
    aspect-ratio: 589 / 637;

    transform: translateX(-50%);
    left: 70%;

    @include portrait {
      left: 76%;
      transform: translateX(-50%);

      width: calc(306px/ 680px * 100dvh);
      height: auto;
    }
  }

  &__model-7 {
    height: size(627px);
    aspect-ratio: 278 / 627;

    transform: translateX(-100%);
    left: 86%;

    @include portrait {
      left: 95%;
      transform: translateX(-100%);

      width: calc(144px/ 680px * 100dvh);
      height: auto;
    }
  }

  &__button-next {
    position: absolute;
    top: 50%;
    right: calc(5.21% + 17px);
    z-index: 5;

    transform: translateY(-50%);

    display: flex;
    align-items: center;

    width: size(147px);
    height: size(95px);
    border-radius: size(46px);
    padding: size(10px);

    background-color: #d3d3d3;

    @include portrait {
      display: none;
    }
  }

  &__button-next-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: size(72px);
    height: size(72px);
    border-radius: 50%;
    margin-left: auto;

    background-color: #000000;

    svg {
      width: size(12px);
      height: size(24px);
    }
  }

  &__button {
    display: none;

    @include portrait {
      position: relative;
      z-index: 2;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      max-width: calc(330px/ 680px * 100dvh);
      min-height: calc(52px/ 680px * 100dvh);
      border-radius: calc(12px/ 680px * 100dvh);
      background-color: $color-default-black;
      padding: calc(14px/ 680px * 100dvh);
      border: none;

      font-family: $ff-g-text-regular;
      font-weight: 400;
      font-size: calc(17px/ 680px * 100dvh);
      line-height: 1.3;
      letter-spacing: -0.4px;
      color: $color-default-white;

      svg {
        width: calc(24px/ 680px * 100dvh);
        height: calc(24px/ 680px * 100dvh);
        margin-right: calc(6px/ 680px * 100dvh);
      }
    }
  }

  &__sublayer {
    display: none;

    @include portrait {
      display: block;

      position: absolute;
      bottom: 0;
      z-index: 2;

      width: 100%;
      height: 60%;
      background: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, #F2F2F2 49.42%);
    }
  }
}
