.logo {
  display: flex;
  align-items: center;
  gap: size(15px);

  @include portrait {
    gap: 12px;
  }

  &__icon {
    width: size(56px);
    height: size(57px);

    @include portrait {
      width: 32px;
      height: 32px;
    }

    rect {
      color: $color-default-black;
    }

    path {
      color: $color-default-white;
    }
  }

  &__text {
    width: size(202px);
    height: size(25px);

    @include portrait {
      width: 103px;
      height: 11px;
    }

    path {
      color: $color-default-black;
    }
  }
}

.is-open {
  .logo {
    .logo__icon {
      rect {
        color: $color-default-white;
      }

      path {
        color: $color-default-black;
      }
    }

    .logo__text {
      path {
        color: $color-default-white;
      }
    }
  }
}
