.panel {
  width: 100%;
  height: 100%;
  min-width: 100vw!important;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;

  --width: 700%;
  width: var(--width);
  height: 100dvh;

  @include portrait {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  &__panel {
    width: 100%;
    height: 100%;
    min-width: 100vw!important;

    padding-top: size(116px);

    @include portrait {
      padding-top: 0;
    }
  }
}
