mixin clothes-label(options)
  .clothes-label&attributes(attributes)
    .clothes-label__image
      +picture(options.image[0], options.image[1], options.image[2], 54, 54, "предмет одежды", true)
    .clothes-label__info
      p.clothes-label__name!=options.name
      p.clothes-label__text=options.text
