-
  const clothesItemData = [
    {
      image: [
        {
          name: "clothes-item-1-1",
          path: "content/clothes-items",
          format: "png",
          addClass: "2x2",
        },
        {
          name: "clothes-item-1-3",
          path: "content/clothes-items",
          format: "png",
        },
        {
          name: "clothes-item-1-2",
          path: "content/clothes-items",
          format: "png",
          addClass: "1x2",
        },
        {
          name: "clothes-item-1-4",
          path: "content/clothes-items",
          format: "png",
        },
      ],
      summary: ["4 вещи в образе", "Сочетание 100%"],
    },
    {
      image: [
        {
          name: "clothes-item-2-1",
          path: "content/clothes-items",
          format: "png",
          addClass: "2x2",
        },
        {
          name: "clothes-item-2-2",
          path: "content/clothes-items",
          format: "png",
        },
        {
          name: "clothes-item-1-3",
          path: "content/clothes-items",
          format: "png",
        },
        {
          name: "clothes-item-2-3",
          path: "content/clothes-items",
          format: "png",
        },
        {
          name: "clothes-item-1-4",
          path: "content/clothes-items",
          format: "png",
        },
      ],
      summary: ["5 Новых вещей", "Подходит вам"],
    },
    {
      image: [
        {
          name: "clothes-item-3-1",
          path: "content/clothes-items",
          format: "png",
          addClass: "2x2",
        },
        {
          name: "clothes-item-1-3",
          path: "content/clothes-items",
          format: "png",
        },
        {
          name: "clothes-item-3-2",
          path: "content/clothes-items",
          format: "png",
          addClass: "1x2",
        },
        {
          name: "clothes-item-1-4",
          path: "content/clothes-items",
          format: "png",
        },
      ],
      summary: ["4 Новые вещи", "Подходит вам"],
    }
  ];

-
  const modelsItemData = [
    {
      model: ["content/models", "model-4", "png"],
      labels: [
        {
          image: ["content/clothes-items", "clothes-item-1-1", "png"],
          name: "Лонгслив&nbsp;KITH",
          text: "Черный, лето 2023",
        },
        {
          image: ["content/clothes-items", "clothes-item-1-2", "png"],
          name: "Юбка&nbsp;KITH",
          text: "Черная, лето 2023",
        },
        {
          image: ["content/clothes-items", "clothes-item-1-3", "png"],
          name: "Сумка&nbsp;KITH",
          text: "Черная, лето 2023",
        },
        {
          image: ["content/clothes-items", "clothes-item-1-4", "png"],
          name: "Туфли Alexander&nbsp;Mqueen",
          text: "Черная, лето 2023",
        }
      ],
      summary: ["4 новых вещи", "Сочетание 100%"],
    },
    {
      model: ["content/models", "model-1", "png"],
      labels: [
        {
          image: ["content/clothes-items", "clothes-item-2-1", "png"],
          name: "Футболка&nbsp;KITH",
          text: "Темно-серая, лето 2023",
        },
        {
          image: ["content/clothes-items", "clothes-item-2-2", "png"],
          name: "Брюки&nbsp;Valentino",
          text: "Темно-синие, весна 2022",
        },
        {
          image: ["content/clothes-items", "clothes-item-2-3", "png"],
          name: "Ремень&nbsp;Chanel",
          text: "Черный, лето 2021",
        },
        {
          image: ["content/clothes-items", "clothes-item-1-3", "png"],
          name: "Сумка&nbsp;KITH",
          text: "Черная, лето 2023",
        },
        {
          image: ["content/clothes-items", "clothes-item-1-4", "png"],
          name: "Туфли Alexander&nbsp;Mqueen",
          text: "Черная, лето 2023",
        }
      ],
      summary: ["5 Новых вещей", "Подходит вам"],
    },
    {
      model: ["content/models", "model-2", "png"],
      labels: [
        {
          image: ["content/clothes-items", "clothes-item-3-1", "png"],
          name: "Пальто&nbsp;Max&nbsp;Mara",
          text: "Темно-зеленое, осень 2022",
        },
        {
          image: ["content/clothes-items", "clothes-item-3-2", "png"],
          name: "Боди&nbsp;KITH",
          text: "Черный, весна 2023",
        },
        {
          image: ["content/clothes-items", "clothes-item-1-3", "png"],
          name: "Сумка&nbsp;KITH",
          text: "Черная, лето 2023",
        },
        {
          image: ["content/clothes-items", "clothes-item-1-4", "png"],
          name: "Туфли Alexander&nbsp;Mqueen",
          text: "Черная, лето 2023",
        }
      ],
      summary: ["4 Новыe вещb", "Подходит вам"],
    },
  ];
