-
  const personCards = [
    {
      image: ["content/screens", "person-01", "png"],
      title: "Ася Манохина",
      description: "Маркетинг, реклама, PR",
      tags: ["#Кэжуал", "#Вечеринка", "#Анимализм"],
      message: "👯‍ ️Привет! Создай образ для сегодняшней встречи с друзьями в баре",
    },
    {
      image: ["content/screens", "person-02", "png"],
      title: "Яна Филатова",
      description: "Art-director",
      tags: ["#Классика", "#Гламур", "#Футуризм", "#Авангард"],
      message: "💃🏻 Собираюсь на свидание. Думаю что надеть под белую блузку. Подскажешь?",
    },
    {
      image: ["content/screens", "person-03", "png"],
      title: "Дина Заврова",
      description: "Art-director",
      tags: ["#Классика", "#Гламур", "#Футуризм", "#Авангард"],
      message: "👔 Иду на девичник, что из моих вещей подойдет под тематику ретро?",
    }
  ];
